/* styles/pages/login.css */
.login-container {
  max-width: 420px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.login-container .nav-btn .icon {
  font-size: 30px!important;
}

.login-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group > .icon {
  position: absolute;
  top: 50%;
  left: var(--form-group-padding);
  transform: translateY(-50%);
  color: var(--neutral);
}

.form-group input {
  background-color: var(--secondary);
  color: var(--text-dark);
  border: none;
}

.form-group input::placeholder {
  color: #aaa;
}

.form-group .password__visibility-toggle-btn {
  position: absolute;
  top: 50%;
  right: var(--form-group-padding);
  transform: translateY(-50%);
  background: none;
  color: var(--neutral);
  width: 26px;
  height: 26px;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn, .google-btn {
  width: 100%;
  margin-top: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.login-btn {
  background-color: var(--primary);
  color: #000;
  border: none;
}

.google-btn {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.google-btn i {
  font-size: var(--icon-md);
  margin-right: 9px;
}

.form-label {
  width: 100%;
  text-align: center;
  flex-shrink: 0;
  margin-top: 1rem;
}