/* styles/main.css */
@import url("../assets/static/icon/ms/ms.css");
@import url("../assets/static/icon/fa/font-awesome.min.css");
@import url("./control.css");

@font-face {
  font-family: "Anton";
  src: url("../assets/static/fonts/Antonio-Regular.ttf");
}

@font-face {
  font-family: "CodecPro";
  src: url("../assets/static/fonts/CodecPro-Regular.ttf");
}

:root {
  --bg-dark: #111111;
  --text-dark: #ffffff;
  --bg-light: #ffffff;
  --text-light: #111111;
  
  --primary: #ffffff;
  --secondary: #2a2a2a;
  --accent: #ff6b6b;
  --neutral: #888888;
  --neutral-dark: #363636;
  --tap-highlight: rgba(225, 225, 225, 0.08);
  --elevation: rgba(0, 0, 0, 0.4);
  
  --radius: 12px;
  --input-radius: 50px;
  --input-padding: 15px 24px;
  --input-border: 0 0 0 1px var(--neutral);
  --utility-radius: 9px;
  --form-group-padding: 20px;
  --thumbnail-fluid-radius: 26px;
  --thumbnail-square-radius: 18px;
  --card-elevation: 0 0 12px 6px var(--elevation);
  
  --icon-sm: 16px;
  --icon-md: 18px;
  --icon-lg: 22px;
  
  --transition: all 0.3s ease-in-out;
}

* {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  box-sizing: border-box;
  font-family: 'CodecPro', sans-serif;
  scroll-behavior: smooth;
}

h2 {
  text-align: center;
  font-family: 'Anton', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.page-load {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease;
}

.page-load.page-loading {
  z-index: 10;
  opacity: 1;
}

.page-load .loading-spinner {
  width: 18px;
  height: 18px;
  border: 2px solid var(--accent);
  border-top-color: transparent;
  border-radius: 100%;
  animation: spinner-a 0.6s linear infinite;
}

body {
  margin: 0;
  background-color: var(--bg-dark);
  color: var(--text-dark);
  transition: var(--transition);
}

body.light {
  background-color: var(--bg-light);
  color: var(--text-light);
}

body.popup-card-active>*:not(div:has(.popup-card)):not(.notification) {
  pointer-events: none;
}

.container {
  max-width: 420px;
  margin: 2rem auto;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a.btn.primary {
  background: var(--accent);
  color: inherit;
}

button {
  cursor: pointer;
  overflow: hidden;
  -webkit-tap-highlight-color: var(--tap-highlight);
}

button a {
  color: inherit;
  text-decoration: none;
}

button.nav-btn {
  background: none;
  color: inherit;
  padding: 0;
  border: 0;
  line-height: 1;
}

button.button-loading {
  position: relative;
  pointer-events: none;
  opacity: 0.7;
  color: transparent;
  transition: none;
}

button.button-loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid var(--bg-light);
  border-top-color: transparent;
  border-radius: 100%;
  animation: spinner-b 0.6s linear infinite;
  z-index: 10;
}

.btn-group {
  background: var(--secondary);
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  border-radius: var(--input-radius);
}

.btn-group button {
  border: 0;
}

.group .group-el {
  background: initial;
}

.group .group-el:hover {
  background: var(--bg-light);
  color: initial !important;
}

.group .group-el.active {
  background: var(--bg-light);
}

.group .group-el:not(.group-el.active) {
  color: inherit;
}

input:not(input.hidden), button, .btn, .tab-btn {
  height: 60px;
  border-radius: var(--input-radius);
  padding: var(--input-padding);
  font-size: 1rem;
  outline: none;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-btn.active {
  color: initial!important;
}

input {
  box-shadow: var(--input-border);
  padding-left: 50px;
}

.input-field {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.input-field * {
  flex-shrink: 0;
}

.input-field:not(:last-child) {
  margin-bottom: 1.8rem;
}

.input-field label {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.input-field label * {
  padding: 0;
  margin: 0;
}

.input-field-group {
  position: relative;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.input-field-group button {
  background: none;
  color: inherit;
  width: 100%;
  border: 0;
  box-shadow: var(--input-border);
  border-radius: var(--input-radius);
}

.input-field-group button.primary {
  background: var(--accent);
}

.inp {
  cursor: pointer;
  -webkit-tap-highlight-color: var(--tap-highlight);
  border: 0;
  outline: 0;
}

.inp * {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

.input-field-group .password_visibility-toggle-btn {
  position: absolute;
  top: 50%;
  right: var(--form-group-padding);
  transform: translateY(-50%);
  background: none;
  color: var(--neutral);
  width: 26px;
  height: 26px;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inp-text,
.inp-select,
.inp-date-select,
.inp-location-select {
  position: relative;
  background: var(--secondary);
  color: inherit;
  width: 100%;
  height: 60px;
  padding: var(--input-padding);
  box-shadow: var(--input-border);
  border-radius: var(--input-radius);
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  text-align: left !important;
}

.inp-selected-option,
.inp-selected-date,
.inp-selected-location {
  color: inherit;
}

.inp-options,
.inp-date-picker,
.inp-location-picker {
  overflow-y: auto;
  position: absolute;
  top: 115%;
  left: -3%;
  z-index: 2;
  background: var(--neutral-dark);
  width: 106%;
  min-height: auto;
  max-height: 70vh;
  border-radius: 0.75rem;
  display: none;
  align-items: start;
  flex-direction: column;
  gap: 0;
}

.inp-select.active .inp-options,
.inp-date-select.active .inp-date-picker,
.inp-location-select.active .inp-location-picker {
  display: inherit;
}

.inp-option,
.inp-date,
.inp-location {
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.inp-option.selected,
.inp-date.selected,
.inp-location.selected {
  background: var(--accent);
}

.inp-option:hover,
.inp-option:active,
.inp-date:hover,
.inp-date.active,
.inp-location:hover,
.inp-location.active {
  opacity: 0.5;
}

.inp-option:not(:last-child),
.inp-date:not(:last-child),
.inp-location:not(:last-child) {
  border-bottom: 1px solid var(--accent);
}

.inp-location-cities {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: var(--neutral-dark);
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  box-shadow: var(--card-elevation);
  display: none;
  align-items: start;
  flex-direction: column;
  gap: 0;
}

.inp-location-picker::after {
  content: '';
  position: absolute;
  top: 1rem;
  left: 0;
  z-index: -1;
  background: none;
  width: 100%;
  height: 0;
}

.inp-location-select:has(.inp-location-state.active) .inp-location-picker::after {
  content: '';
  position: absolute;
  top: 1rem;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  height: 200vh;
}

.inp-date-type {
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: var(--neutral-dark);
  width: 100%;
  min-height: auto;
  max-height: 70vh;
  border-radius: 0.75rem;
  box-shadow: var(--card-elevation);
  display: none;
  align-items: start;
  flex-direction: column;
  gap: 0;
}

.inp-date-type.active {
  display: inherit;
}

.inp-date-type .inp-date-value {
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.inp-date-type .inp-date-value.selected {
  background: var(--accent);
}

.inp-date:hover:has(.inp-date-type.active),
.inp-date.active:has(.inp-date-type.active),
.inp-location:hover:has(.inp-location-cities),
.inp-location.active:has(.inp-location-cities) {
  opacity: 1;
}

.inp-date_set-values-btn {
  background: var(--neutral);
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.image-upload.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 18px;
  margin: auto;
  border: 2px solid var(--accent);
  border-top-color: transparent;
  border-radius: 100%;
  animation: 0.6s spinner-c linear infinite;
}

.image-upload-trigger_btn {
  position: absolute;
  bottom: 0;
  right: 34%;
  background: var(--accent);
  color: inherit;
  width: 35px;
  height: 35px;
  border: 3px solid var(--secondary);
  border-radius: 100%;
  display: flex;
  align-items: center!important;
  justify-content: center!important;
}

.reset-image-upload_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: var(--tap-highlight);
  color: inherit;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-group {
  position: relative;
  overflow: auto;
  background: var(--secondary);
  width: 110%;
  height: 60vh;
  padding: 1rem;
  margin-left: -5%;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border: 1px solid var(--neutral);
  border-radius: 1.5rem;
}

.tab-group * {
  flex-shrink: 0;
}

.tab-group .tab:not(.tab.active) {
  display: none;
}

.send-signal-tab,
.update-profile-tab {
  width: 100%;
}

.thumbnail-fader {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--neutral);
  width: 100%;
  height: 100%;
}

*.fade-top-down {
  background: linear-gradient(to bottom, transparent, var(--bg-dark));
}

.thumbnail-switchable {
  position: relative;
}

.thumbnail-switchable img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 2s ease;
}

.thumbnail-switchable img.active {
  opacity: 1;
}

.thumbnail-avatar {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.thumbnail-avatar.standard {
  width: 120px;
  height: 120px;
  margin: auto;
}

.thumbnail-cover {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 100%;
  max-width: 500px;
  height: 620px;
  border-radius: 0 0 50px 50px;
}

.thumbnail-fluid {
  overflow: hidden;
  width: 100%;
  max-width: 420px;
  border-radius: var(--thumbnail-fluid-radius);
}

.thumbnail-square {
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: var(--thumbnail-square-radius);
}

.thumbnail-avatar img,
.thumbnail-cover img,
.thumbnail-fluid img,
.thumbnail-square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.notification {
  position: fixed;
  z-index: 99;
  font-family: inherit;
}

.notification-toast {
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.notification-popup {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body:has(.notification-popup)>*:not(.notification) {
  pointer-events: none;
}

.toast {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--secondary);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  min-width: 340px;
  max-width: 400px;
  animation: fadeIn 0.3s ease-in-out;
}

.toast-icon {
  font-size: 1.2rem;
}

.toast-icon * {
  color: var(--accent);
  font-size: inherit !important;
  font-weight: bold !important;
}

.toast-msg {
  margin: 0;
  color: inherit;
  line-height: 1.3;
}

.toast-close {
  background: var(--neutral);
  color: inherit;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.toast-cta {
  background: var(--bg-light);
  border: 0;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
}

.toast-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: var(--accent);
  border-radius: 0;
  animation: 3s loadout linear forwards;
}

.popup {
  background: var(--secondary);
  padding: 1rem 1.5rem;
  width: 100%;
  min-width: 340px;
  max-width: 340px;
  border: 1px solid var(--neutral);
  border-radius: 1.4rem;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.popup-icon {
  color: var(--accent);
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.popup-icon * {
  color: inherit;
  font-size: inherit !important;
  line-height: 1 !important;
}

.popup-title {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: inherit;
  line-height: 1.4;
}

.popup-body {
  color: inherit;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.popup-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.popup-actions * {
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.popup-close, .popup-cta {
  min-width: 100px;
}

.popup-close {
  background: none;
  border: 1px solid var(--neutral);
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.popup-cta {
  background: var(--accent);
  border: 0;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.popup-card {
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 5;
  background: var(--secondary);
  width: 90%;
  max-width: 500px;
  height: 80vh;
  max-height: 700px;
  border: 1px solid var(--neutral);
  border-radius: 1rem;
  box-shadow: var(--card-elevation);
}

.close-popup-card-btn, .close-chatbar-btn {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  background: var(--neutral);
  color: var(--text-dark);
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 100%;
}

.close-popup-card-btn .icon {
  line-height: 1;
}

.popup-card-title {
  padding: 1rem 0;
  border-bottom: 1px solid var(--neutral);
}

.popup-card-body {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: start;
  justify-content: center;
}

.popup-card-body .null-text {
  text-align: center;
}

.signal-card {
  background: var(--tap-highlight);
  width: 100%;
  padding: 0.5rem 0.75rem;
  margin-bottom: 2rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 70px 2fr 80px;
  align-items: center;
  justify-content: start;
  border-radius: 0.75rem;
}

.signal-info-group {
  position: relative;
  padding: 0;
  display: grid;
  align-items: center;
  justify-content: start;
  grid-auto-flow: row;
  text-align: left;
  gap: 0.5rem;
}

.signal-info-group .view-profile-btn {
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0;
  cursor: pointer;
}

.signal-info-group .view-inks-btn {
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

.signal-info-group .hook-user-btn {
  background: none;
  color: inherit;
  border: 1px solid var(--neutral);
}

.signal-info-group .ink-card {
  position: absolute;
  top: 125%;
  left: 0;
  z-index: 2;
  background: var(--neutral-dark);
  width: 310px;
  min-height: 50px;
  padding: 1rem;
  border-radius: 0.75rem;
  display: none;
}

.signal-info-group .ink-card.active {
  display: block;
}

/* @keyframes */

@keyframes spinner-a {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-b {
  to {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

@keyframes spinner-c {
  to {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

@keyframes loadout {
  from {
    width: 100%;
  }
  
  to {
    width: 0%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
}